@{
    //Nombre que se muestra en la pestaña del browser
    ViewData["Title"] = "Información Escuela";
}
@* Aqui va el html de nuestra vista *@
<h1>Escuela: </h1>
<h2>Nombre: </h2>
<p>Año Fundación: </p>
