@using curso_asp_netcore.Models 
@model Asignatura

@{
    ViewData["Title"] = "Crear Nueva Asignatura";
    Layout = "Simple";

    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}

<h1>@ViewData["Title"]</h1>

<section>
  <div class="text-danger" asp-validation-summary="All"></div>
  <form method="POST">
    <div class="mb-3">
      <label asp-for="Nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" asp-for="Nombre" id="Nombre" data-val="true" data-val-required="Por Favor Ingrese el Nombre">
      <span class="field-validation-valid bg-danger text-white" data-valmsg-for="Nombre" data-valmsg-replace="true"></span>
    </div>

      <div class="mb-3">
        <label asp-for="CursoId" class="form-label">Curso</label>
        @Html.DropDownList("CursoId",items, "Seleccione un curso",  new {@class = "form-control"})
        <span class="field-validation-valid bg-danger text-white" data-valmsg-for="CursoId" data-valmsg-replace="true"></span>
      </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>

