@using curso_asp_netcore.Models
@model Asignatura

@{
    ViewData["Title"] = "Asignatura No Encontrado";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>

<p class="text-danger">Error: La asignatura Ingresada No Existe</p>
