@using curso_asp_netcore.Models
@model Curso

@{
    ViewData["Title"] = "Curso no Encontrado";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>

<p class="text-danger">Error: El Curso Ingresado No Existe</p>
